language: php

php:
#  - 5.5
#  - 5.6
#  - 7.0
  - 7.1

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - vendor/bin/phpcs --standard=psr2 src/
#  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
